<div class="card">
    <h5 class="card-header">
        <i class="mdi mdi-open-in-new"></i> Incus UI
    </h5>
    <div class="card-body text-center">
        <a href="{{ incus_ui_url }}" target="_blank" rel="noopener noreferrer"
            class="btn btn-primary" title="Open in Incus web UI">
            <i class="mdi mdi-open-in-new"></i> Open {{ object_type_label }} in Incus UI
        </a>
        <br>
        <small class="text-body-secondary mt-2 d-block">
            {{ object_type_label }}: {{ object_name }}
        </small>
    </div>
</div>
